.search{
    text-align: center;
}

.search-input{
    font-size: 1.5em;
    border: #937D73 solid .1em;
    margin: 5%;
}

.results-container{
    display: grid;
    /* flex-flow: wrap; */
}

.result-item{
    position: relative;
    padding: 3%;
    border: .2em solid black;
    margin: 2% 10%;
    text-align: center;
    /* min-width: 200px; */
    box-shadow: 2px 2px 2px #898989;
}