.header{
    display: flex;
    justify-content: space-between;
    padding: 2% 5% 0 5%;
    font-family:'Roboto Slab', serif;
}

.header:hover{
    color: #9E975E;
}

.beerIcon{
    width: 10%;
}



.mainImg{
    width: 100%;
    border: #937D73 solid .2em;
}