
.header{
    display: flex;
    justify-content: space-between;
    padding: 2% 5% 0 5%;
    font-family:'Roboto Slab', serif;
}

.header:hover{
    color: #54646A;
}

.beerIcon{
    width: 10%;
}



.mainImg{
    width: 60%;
    opacity: .95;
    display: block;
    margin: 0 20% 0 20%;
    border: #937D73 solid .2em;
    
}

@media only screen and (min-width: 768px){

    .mainImg{
        width: 40%;
        margin: 0 30% 0 30%;
        
    }

    .header h1{
        font-size: 2.5em;
    }




}

@media only screen and (min-width: 1200px){

    .mainImg{
        width: 30%;
        margin: 0 35% 0 35%;
       
    }

    .header h1{
        font-size: 2.5em;
    }
    .beerIcon{
        width: 8%;
    }



}